body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 10px;
}

#new-page-form input[type="text"],
#new-page-form textarea {
  width: 700px;
  box-sizing: border-box;
  display: block;
}

#new-page-form textarea {
    height: 400px;
  }

#edit-page-form textarea {
    width: 700px;
    box-sizing: border-box;
    display: block;
    height: 400px;
}

.alert {
    background-color: red;
    color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    font-weight: bold;
}