* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

// Navbar design
.navbar-div {
  height: 100%;
  font-size: 13px;
  
  ul {
    height: 60px;
    padding: 6px;
    padding-right: 121px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      list-style: none;
      a {
        padding-left: 15px;
        text-decoration: none;
        color: rgba(0,0,0,.87);
      }
    }
  }
}

// Search section design
#main-content {
  margin: 100px;
}

.flex-container, form {
  display: flex;
  flex-direction: column;
  align-items: center;
    .logo-img {
      min-height: 92px;
      position: relative;
      display: block;
      margin-bottom: 20px;
      img {
        max-width: 100%;
        object-fit: contain;
        object-position: center bottom;
        width: auto;
      }
      span {
        color: #4285f4;
        font-size: 16px;
        position: absolute;
        left: 215px;
        bottom: 0;
        white-space: nowrap;
      }
    }
    .search-box {
      padding-bottom: 20px;
      #search-field {
        width: 582px;
        height: 44px;
        border: 1px solid #dfe1e5;
        transition: box-shadow 100ms;
        border-radius: 25px;
        font-size: 16px;
        outline: none;
        padding-left: 30px;
      }
      #search-field:hover {
        border: 0px solid #fff;
        border-radius: 44px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 
                    0 0 2px rgba(0, 0, 0, 0.05),
                    0 0 3px rgba(0, 0, 0, 0.05),
                    0 0 4px rgba(0, 0, 0, 0.05), 
                    0 0 5px rgba(0, 0, 0, 0.05), 
                    0 0 4px rgba(0, 0, 0, 0.05), 
                    0 0 5px rgba(0, 0, 0, 0.05);
      }
    }
    .form-inputs {
      input[type="submit"] {
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: arial,sans-serif;
        margin: 11px 4px;
        padding: 0 16px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        border: 0px solid #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 
                    0 0 2px rgba(0, 0, 0, 0.05),
                    0 0 3px rgba(0, 0, 0, 0.05),
                    0 0 4px rgba(0, 0, 0, 0.05), 
                    0 0 5px rgba(0, 0, 0, 0.05), 
                    0 0 4px rgba(0, 0, 0, 0.05), 
                    0 0 5px rgba(0, 0, 0, 0.05);
      }
    }
}

// Advanced Search page
.label {
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px;
  height: 23px;
}
.separator {
  border-bottom: 1px solid #ebebeb;
}
#advanced-form {
  .title {
    width: 100%;
    padding: 40px;
    span {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 16px;
    }
  }
  .advanced-form-content {
    width: 100%;
    padding-left: 40px;
    div {
      display: flex;
      align-items: center;
      height: 20px;
      margin-bottom: 25px;
      .label-element {
        width: 165px;
      }
      input {
        margin-left: 20px;
        padding-left: 10px;
        height: 29px;
        width: 550px;
        border-radius: 1px;
        border: 1px solid #d9d9d9;
        outline: none;
      }
      #advanced-search-btn {
        margin: 0;
        padding: 0;
        width: 120px;
        height: 30px;
        box-shadow: none;
        background-color: #4d90fe;
        background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
        border: 1px solid #3079ed;
        border-radius: 2px;
        font-size: 11px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        color: #fff;
      }
    }

  }
}